[submodule "clients/binance-python"]
	path = clients/binance-python
	url = https://github.com/AlgolLLC/binance-python.git
[submodule "clients/binance-javascript"]
	path = clients/binance-javascript
	url = https://github.com/AlgolLLC/binance-javascript.git
