swagger: "2.0"
info:
   title: Binance REST API
   description: Schema for the binance REST API
   version: 0.0.1   
host: www.binance.com
basePath: /api
schemes:
    - https

paths:
    /v1/ping:
        get:
            summary: Test connectivity
            description: Test connectivity to the Rest API
            produces:
                - application/json
            responses:
                200:
                    description: OK
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                example: -1121
                            msg:
                                type: string
                                example: "Invalid symbol"
    /v1/time:
        get:
            summary: Check server time
            description: Test connectivity to the Rest API and get the current server time.
            produces:
                - application/json
            responses:
                200:
                    description: OK
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                example: -1121
                            msg:
                                type: string
                                example: "Invalid symbol"
                            serverTime:
                                type: integer
                                example: 1499827319559
                                
    /v1/depth:
        get:
            summary: Order book
            parameters:
                - in: query
                  name: symbol
                  type: string
                  required: true
                - in: query
                  name: limit
                  type: integer
                  description: Default 100; max 100.
            produces:
                - application/json
            responses:
                200:
                    description: OK
                    schema:
                        type: object
                        properties:
                            lastUpdateId:
                                type: integer
                                example: 1027024
                            bids:
                                type: array
                            asks:
                                type: array
                            code:
                                type: integer
                                example: -1121
                            msg:
                                type: string
                                example: "Invalid symbol"

    /v1/aggTrades:
        get:
            summary: Compressed/Aggregate trades list
            description: Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.
            parameters:
                - in: query
                  name: symbol
                  type: string
                  required: true
                - in: query
                  name: fromId
                  type: integer
                  description: ID to get aggregate trades from INCLUSIVE.
                - in: query
                  name: startTime
                  type: integer
                  description: Timestamp in ms to get aggregate trades from INCLUSIVE.
                - in: query
                  name: endTime
                  type: integer
                  description: Timestamp in ms to get aggregate trades until INCLUSIVE.
                - in: query
                  name: limit
                  type: integer
                  description: Default 500; max 500.
            produces:
                - application/json
            responses:
                200:
                    description: OK
                    schema:
                        type: object
                        properties:
                            a:
                                type: integer
                                description: Aggregate tradeId
                                example: 26129
                            p:
                                type: string
                                description: Price
                                example: "0.01633102"
                            q:
                                type: string
                                description: Quantity
                                example: "4.70443515"
                            f:
                                type: integer
                                description: First tradeId
                                example: 27781
                            l:
                                type: integer
                                description: Last tradeId
                                example: 27781
                            T:
                                type: integer
                                description: Timestamp
                                example: 1498793709153
                            m:
                                type: boolean
                                description: Was the buyer the maker?
                                example: true
                            M:
                                type: boolean
                                description: Was the trade the best price match?
                                example: true

