swagger: "2.0"
info:
   title: Binance REST API
   description: Schema for the binance REST API
   version: 0.0.1   
host: www.binance.com
basePath: /api
schemes:
    - https

paths:
    /v1/ping:
        get:
            summary: Test connectivity
            description: Test connectivity to the Rest API
            produces:
                - application/json
            responses:
                200:
                    description: OK
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                example: -1121
                            msg:
                                type: string
                                example: "Invalid symbol"
    /v1/time:
        get:
            summary: Check server time
            description: Test connectivity to the Rest API and get the current server time.
            produces:
                - application/json
            responses:
                200:
                    description: OK
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                example: -1121
                            msg:
                                type: string
                                example: "Invalid symbol"
                            serverTime:
                                type: integer
                                example: 1499827319559
                                
    /v1/depth:
        get:
            summary: Order book
            parameters:
                - in: query
                  name: symbol
                  type: string
                  required: true
                - in: query
                  name: limit
                  type: integer
            produces:
                - application/json
            responses:
                200:
                    description: OK
                    schema:
                        type: object
                        properties:
                            lastUpdateId:
                                type: integer
                                example: 1027024
                            bids:
                                type: array
                            asks:
                                type: array
                            code:
                                type: integer
                                example: -1121
                            msg:
                                type: string
                                example: "Invalid symbol"
